
.card {
  display: flex;
  align-items:flex-start;
  gap: 20px;
  max-width: 700px;
  background: var(--background);
  padding-top: 20px;
  border-radius: 10px;

}


.image {
  width: 200px;
  border-radius: 20px;
  padding:10px ;
}
.title { 
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text);
  padding-top: 0px;
  padding: 10px;
  padding-bottom:5px;
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--secondary);
  padding-left: 10px;
  padding-bottom: 20px;
}

.tech {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: var(--text);
  border-radius:1px 10px;
  padding: 10px;
  text-align: center;
  font-size: 13px;
  width: auto;
  margin: 5px 10px;
  transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}
.tech:hover {
  box-shadow: 0px 0px 10px var(--primary), 0px 0px 20px var(--primary);
  transform: scale(1.05); 
}
